@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Playfair+Display&display=swap');
div {
    max-width: 1600;
}
#content {
    margin:0 auto;
}
nav a {
    text-align: center;
    color: #9da9a0;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero_msg h2{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #c0caad;
    font-family: 'Koulen', 'Playfair+Display', serif;
    font-size: 22px;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: #9da9a0;
}
nav a:hover{
    border: #654c4f;
    color: #b26e63;
}
.book, .join{
    background-color: #cec075;
    color: #9da9a0;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #b26e63;
    color: #654c4f;
}
#background{
    background-color: #c0caad;
}
.msg{
    background-color: #654c4f;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #cec075;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: #b26e63;
    font-family: 'Koulen', 'Playfair+Display', serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #654c4f;
}
.msg h2{
    color: #cec075;
}
.msg p{
    color: #9da9a0;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3{
    color: #b26e63;
    text-decoration: underline;
}
footer a{
    color: #c0caad;
    text-decoration: none;
}
footer a:hover{
    color: #b26e63;
    text-decoration: underline;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
h2 {
    margin: 0%;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #654c4f ;
}
main section img{
    box-sizing: border-box;
}