@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Playfair+Display&display=swap');
div {
    max-width: 1600;
}
#content {
    margin:0 auto;
}
.home-title{
    color: #b26e63;
    font-family: 'Koulen', 'Playfair+Display', serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    color: #654c4f;
}